<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <link href="/public/css/styles-from-sass.min.css" rel="stylesheet">
    <link href="/public/css/styles.min.css" rel="stylesheet">
</head>

<body>
    {{{body}}}

    <script src="/public/js/vendor.js"></script>
    <script src="/public/js/components.js"></script>
</body>

</html>
